<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="contract.create" class="create">New Contract</a></li>
    </ul>
</div>
<div id="list-contract" class="content scaffold-list" role="main">
    <h1>Contract List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Term</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="contract in vm.contractList">
      <td>
        <a ui-sref="contract.show({id: contract.id})">{{contract.id}}</a>
      </td>
      <td>
        <span>{{contract.name}}</span>
      </td>
      <td>
        <span>{{contract.description}}</span>
      </td>
      <td>
        <span>{{contract.type}}</span>
      </td>
      <td>
        <span>{{contract.amount}}</span>
      </td>
      <td>
        <span>{{contract.term}}</span>
      </td>
      <td>
        <span>{{contract.frequency}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>