
<div class="pricing">
  <ul>
    <li class="unit price-primary">
      <div class="price-title">
        <h3>{{vm.contractList[0].term}} Plan</h3>

        <p>${{vm.contractList[0].maxPayout}} payout</p>
      </div>

      <div class="price-body">
        <h4>Aggressive</h4>

        <p>Sell ${{vm.contractList[0].amount}} in premiums {{vm.contractList[0].frequency}}</p>
        <ul>
          <li>Sell for {{vm.contractList[0].term}}s</li>
          <li>Earn commissions on all sales!</li>
          <li>$10K payout for loans after {{vm.contractList[0].term}}s!</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-primary">Accept Offer</button>
      </div>
    </li>
    <li class="unit price-success active">
      <div class="price-title">
        <h3>{{vm.contractList[1].term}} Plan</h3>

        <p>${{vm.contractList[1].maxPayout}} payout</p>
      </div>

      <div class="price-body">
        <h4>Moderate</h4>

        <p>Sell ${{vm.contractList[1].amount}} in premiums {{vm.contractList[1].frequency}}</p>
        <ul>
          <li>Sell for {{vm.contractList[1].term}}s</li>
          <li>Earn commissions on all sales!</li>
          <li>$10K payout for loans after {{vm.contractList[1].term}}s!</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-primary">Accept Offer</button>
      </div>
    </li>
    <li class="unit price-warning">
      <div class="price-title">
        <h3>{{vm.contractList[2].term}} Plan</h3>

        <p>${{vm.contractList[2].maxPayout}} payout</p>
      </div>

      <div class="price-body">
        <h4>Steady</h4>

        <p>Sell ${{vm.contractList[2].amount}} in premiums {{vm.contractList[2].frequency}}</p>
        <ul>
          <li>Sell for {{vm.contractList[2].term}}s</li>
          <li>Earn commissions on all sales!</li>
          <li>$10K payout for loans after {{vm.contractList[2].term}}s!</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-primary">Accept Offer</button>
      </div>
    </li>
  </ul>
</div>

<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="contract.create" class="create">New Contract</a></li>
    </ul>
</div>
<div id="list-contract" class="content scaffold-list" role="main">
    <h1>Contract List</h1>
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Term</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="contract in vm.contractList">
      <td>
        <a ui-sref="contract.show({id: contract.id})">{{contract.name}}</a>
      </td>
      <td>
        <span>{{contract.description}}</span>
      </td>
      <td>
        <span>{{contract.type}}</span>
      </td>
      <td>
        <span>{{contract.amount}}</span>
      </td>
      <td>
        <span>{{contract.term}}</span>
      </td>
      <td>
        <span>{{contract.frequency}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>