
<div class="pricing">
  <ul>
    <li class="unit price-primary">
      <div class="price-title">
        <h3>{{vm.contractList[0].name}}</h3>

        <p>per month</p>
      </div>

      <div class="price-body">
        <h4>Basic</h4>

        <p>Lots of clients &amp; users</p>
        <ul>
          <li>250 SKU's</li>
          <li>1 GB Storage</li>
          <li>3,5% transaction fee</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-primary">Try a Week</button>
      </div>
    </li>
    <li class="unit price-success active">
      <div class="price-title">
        <h3>$499</h3>

        <p>per month</p>
      </div>

      <div class="price-body">
        <h4>Premium</h4>

        <p>Lots of clients &amp; users</p>
        <ul>
          <li>2500 SKU's</li>
          <li>5 GB Storage</li>
          <li>1,5% transaction fee</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-success">Buy Now</button>
      </div>
    </li>
    <li class="unit price-warning">
      <div class="price-title">
        <h3>$599</h3>

        <p>per month</p>
      </div>

      <div class="price-body">
        <h4>Unlimited</h4>

        <p>Lots of clients &amp; users</p>
        <ul>
          <li>Unlimited SKU's</li>
          <li>20 GB Storage</li>
          <li>1% transaction fee</li>
        </ul>
      </div>

      <div class="price-foot">
        <button type="button" class="btn btn-warning">Subscribe</button>
      </div>
    </li>
  </ul>
</div>

<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="contract.create" class="create">New Contract</a></li>
    </ul>
</div>
<div id="list-contract" class="content scaffold-list" role="main">
    <h1>Contract List</h1>
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Term</th>
      <th>Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="contract in vm.contractList">
      <td>
        <a ui-sref="contract.show({id: contract.id})">{{contract.name}}</a>
      </td>
      <td>
        <span>{{contract.description}}</span>
      </td>
      <td>
        <span>{{contract.type}}</span>
      </td>
      <td>
        <span>{{contract.amount}}</span>
      </td>
      <td>
        <span>{{contract.term}}</span>
      </td>
      <td>
        <span>{{contract.frequency}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>