<fieldset class="form">
    <div class="row">
        <div class="col-md-12 fieldcontain required">
            <input placeholder="email" required="" name="email" id="email" ng-model="vm.agent.email" type="email" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 fieldcontain required">
            <input placeholder="password" required="" name="password" id="password" ng-model="vm.agent.password" type="password" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 fieldcontain required">
            <input placeholder="confirm" required="" name="confirm" id="confirm" type="password" class="form-control"/>
        </div>
    </div>
</fieldset>