<div class="row">
    <div class="col-md-8">
        <!--<ol class="breadcrumb breadcrumb-arrow">-->
            <!--<li><a href="#">Personal Details</a></li>-->
            <!--<li><a href="#">Select Offer</a></li>-->
            <!--<li class="active"><span>Complete!</span></li>-->
        <!--</ol>-->
        <h4>Congratulations {{vm.agent.firstName}} {{vm.agent.lastName}}!</h4>
        <h5>Selected Offer: {{vm.agent.contract.description}}</h5>
        <div class="jumbotron">
            <div class="jumbotron-photo"><img src="assets/bidness-high-five.jpg"/></div>
            <!--<div class="jumbotron-contents">-->
            <!--<h1>Implementing the HTML and CSS into your user interface project</h1>-->
            <!--<h2>HTML Structure</h2>-->
            <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
            <!--<h2>CSS Structure</h2>-->
            <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
            <!--</div>-->
        </div>

    </div>
    <div class="col-md-4">
        <h4>&nbsp;</h4>
        <h5 class="text-center">You did it!!</h5>
        <div class="jumbotron">
            <div class="jumbotron-photo"><img src="assets/female-1280961_1920.jpg"/></div>
            <!--<div class="jumbotron-contents">-->
            <!--<h1>Implementing the HTML and CSS into your user interface project</h1>-->
            <!--<h2>HTML Structure</h2>-->
            <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
            <!--<h2>CSS Structure</h2>-->
            <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
            <!--</div>-->
        </div>
    </div>
</div>

