<fieldset class="form">
    <!-- contract selector -->
    <div class="pricing">
        <ul>
            <li class="unit price-primary">
                <div class="price-title">
                    <h3>{{vm.contractList[0].term}} Plan</h3>
                    <p>${{vm.contractList[0].maxPayout/1000}}K payout</p>
                </div>

                <div class="price-body">
                    <h4>Aggressive</h4>

                    <p>Lots of clients &amp; users</p>
                    <ul>
                        <li>Sell for {{vm.contractList[0].term}}s</li>
                        <li>Earn commissions on all sales!</li>
                        <li>${{vm.contractList[0].maxPayout/1000}}K payout for loans after {{vm.contractList[0].term}}s!</li>
                    </ul>
                </div>

                <div class="price-foot">
                    <label class="toggle">
                        <input name="contract" type="radio" ng-model="vm.agent.contract" ng-value="vm.contractList[0]" />
                        <span class="handle"></span>
                    </label>
                </div>
            </li>
            <li class="unit price-success active">
                <div class="price-title">
                    <h3>{{vm.contractList[1].term}} Plan</h3>

                    <p>${{vm.contractList[1].maxPayout/1000}}K payout</p>
                </div>

                <div class="price-body">
                    <h4>Moderate</h4>

                    <p>Sell ${{vm.contractList[1].amount/1000}}K in premiums {{vm.contractList[1].frequency}}</p>
                    <ul>
                        <li>Sell for {{vm.contractList[1].term}}s</li>
                        <li>Earn commissions on all sales!</li>
                        <li>${{vm.contractList[1].maxPayout/1000}}K payout for loans after {{vm.contractList[1].term}}s!</li>
                    </ul>
                </div>

                <div class="price-foot">
                    <label class="toggle">
                        <input name="contract" type="radio" ng-model="vm.agent.contract" ng-value="vm.contractList[1]" />
                        <span class="handle"></span>
                    </label>
                </div>
            </li>
            <li class="unit price-warning">
                <div class="price-title">
                    <h3>{{vm.contractList[2].term}} Plan</h3>

                    <p>${{vm.contractList[2].maxPayout/1000}}K payout</p>
                </div>

                <div class="price-body">
                    <h4>Steady</h4>

                    <p>Sell ${{vm.contractList[2].amount/1000}}K in premiums {{vm.contractList[2].frequency}}</p>
                    <ul>
                        <li>Sell for {{vm.contractList[2].term}}s</li>
                        <li>Earn commissions on all sales!</li>
                        <li>${{vm.contractList[2].maxPayout/1000}}K payout for loans after {{vm.contractList[2].term}}s!</li>
                    </ul>
                </div>

                <div class="price-foot">
                    <label class="toggle">
                        <input name="contract" type="radio" ng-model="vm.agent.contract" ng-value="vm.contractList[2]" />
                        <span class="handle"></span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</fieldset>