<!--<div class="nav" role="navigation">-->
<!--<ul>-->
<!--<li><a ui-sref="index" class="home">Home</a></li>-->
<!--<li><a ui-sref="agent.list" class="list">Agent List</a></li>-->
<!--</ul>-->
<!--</div>-->

<!-- bread crumb -->
<!--<div class="row">-->
    <!--<ol class="breadcrumb breadcrumb-arrow">-->
        <!--<li class="active"><a>User Account</a></li>-->
        <!--<li><span>Personal Details</span></li>-->
        <!--<li><span>Select Offer</span></li>-->
        <!--<li><span>Review</span></li>-->
    <!--</ol>-->
<!--</div>-->
<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-7">
        <h4>You're awesome at sales - shouldn't you be rewarded for it?</h4>
        <div class="jumbotron">
            <div id="carousel1" class="carousel slide auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active"><img src="assets/piggy-bank-01.jpg"/></div>
                    <div class="item"><img src="assets/no-plan.jpg"/></div>
                    <div class="item"><img src="assets/worry-bench.jpg"/></div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" onclick="$('#myCarousel').carousel('prev'); return false;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" onclick="$('#myCarousel').carousel('next'); return false;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Join Now!</h3>
            </div>
            <div class="panel-body text-center">
                <div id="create-agent" class="content scaffold-create" role="main">
                    <ul class="errors" role="alert" ng-if="vm.errors">
                        <li ng-repeat="error in vm.errors">{{error.message}}</li>
                    </ul>

                    <form name="saveAgent" ng-submit="vm.saveAgent()">
                        <fieldset class="form">
                            <ng-include src="'/blockheads/agent/account-form.html'"></ng-include>
                        </fieldset>
                        <p />
                        <fieldset class="buttons">
                            <input type="submit" name="create" class="btn btn-block save" value="Sign Up!"/>
                        </fieldset>
                        <br />
                    </form>
                </div>
                <div class="content">
                    <a class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                    </a>
                    <a class="btn btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span>
                        Sign in with Twitter
                    </a>
                </div>
                <p><small>By Signing up I agree to the Terms and Privacy Policy. </small></p>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Already a Member?</h3>
            </div>
            <div class="panel-body text-center">
                <div id="login-agent" class="content scaffold-create" role="main">
                    <ul class="errors" role="alert" ng-if="vm.errors">
                        <li ng-repeat="error in vm.errors">{{error.message}}</li>
                    </ul>
                    <ng-include src="'/blockheads/agent/login.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<hr />
<h5 class="text-center">Testimonials</h5>
<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#"><img height="40" width="40" class="media-object img-rounded" src="assets/test1.jpg"></a>
                <div class="media-body">
                    <small>
                        "I use Simple Carrots often. Without Simple Carrots, we would have <br /> gone bankrupt by now. I couldn't have asked for more than this."
                        - Alicia S.
                    </small>
                </div>
            </li>
            <li class="media">
                <a class="pull-right" href="#"><img height="40" width="40" class="media-object img-rounded" src="assets/test2.jpg"></a>
                <div class="media-body text-right">
                    <small>
                        "I love Simple Carrots. I am really satisfied with my Simple Carrots. Wow what great service,<br />I love it! If you aren't sure, always go for Simple Carrots."
                        - Derrick J.
                    </small>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#"><img height="40" width="40" class="media-object img-rounded" src="assets/test3.png"></a>
                <div class="media-body">
                    <small>
                        "Simple Carrots saved my bacon. I love your system.<br />The very best. Definitely worth the time investment."
                        - Ben R.
                    </small>
                </div>
            </li>
            <li class="media">
                <a class="pull-right" href="#"><img height="40" width="40" class="media-object img-rounded" src="assets/test4.jpg"></a>
                <div class="media-body text-right">
                    <small>
                        "Thank You! I STRONGLY recommend Simple Carrots for anyone interested in working<br />their way through school!
                        Not able to tell you how happy I am with Simple Carrots.<br /> Simple Carrots is the next killer app." - Stacey P.
                    </small>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#"><img height="40" width="40" class="media-object img-rounded" src="assets/test5.jpg"></a>
                <div class="media-body">
                    <small>
                        "It's the perfect solution for a college student like me.  <br />Since I started with Simple Carrots I made over 100,000 <ng-ref ng-href="{{indexCtrl.contextPath}}/{{c.logicalPropertyName}}dollars in profits." - Anthony S.
                    </small>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
