<!--<div class="nav" role="navigation">-->
<!--<ul>-->
<!--<li><a ui-sref="index" class="home">Home</a></li>-->
<!--<li><a ui-sref="agent.list" class="list">Agent List</a></li>-->
<!--</ul>-->
<!--</div>-->

<!-- bread crumb -->
<div class="row">
    <ol class="breadcrumb breadcrumb-arrow">
        <li class="active"><a>User Account</a></li>
        <li><span>Personal Details</span></li>
        <li><span>Select Offer</span></li>
        <li><span>Review</span></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="create-agent" class="content scaffold-create" role="main">
            <ul class="errors" role="alert" ng-if="vm.errors">
                <li ng-repeat="error in vm.errors">{{error.message}}</li>
            </ul>

            <form name="saveAgent" ng-submit="vm.saveAgent()">
                <fieldset class="form">
                    <ng-include src="'/blockheads/agent/account-form.html'"></ng-include>
                </fieldset>
                <p />
                <fieldset class="buttons">
                    <input type="submit" name="create" class="btn btn-block save" value="Create"/>
                </fieldset>
            </form>
            <div class="row">

            </div>
        </div>
    </div>
</div>
