<fieldset class="form">
  <div class="fieldcontain required">
    <label for="email">Email
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="email" id="email" ng-model="vm.agent.email" type="email" />
  </div>
  <div class="fieldcontain required">
    <label for="password">Password
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="password" id="password" ng-model="vm.agent.password" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="firstName">First Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="firstName" id="firstName" ng-model="vm.agent.firstName" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="lastName">Last Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="lastName" id="lastName" ng-model="vm.agent.lastName" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="governmentId">Government Id
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="governmentId" id="governmentId" ng-model="vm.agent.governmentId" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="birthday">Birthday
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="birthday" id="birthday" ng-model="vm.agent.birthday" type="date" placeholder="YYYY-MM-DD" />
  </div>
  <div class="fieldcontain required">
    <label for="trainingStatus">Training Status
      <span class="required-indicator">*</span>
    </label>
    <select required="" name="trainingStatus" id="trainingStatus" ng-model="vm.agent.trainingStatus">
      <option value="not started">not started</option>
      <option value="in progress">in progress</option>
      <option value="complete">complete</option>
    </select>
  </div>
  <div class="fieldcontain required">
    <label for="address1">Address1
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="address1" id="address1" ng-model="vm.agent.address1" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="address2">Address2
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="address2" id="address2" ng-model="vm.agent.address2" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="city">City
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="city" id="city" ng-model="vm.agent.city" type="text" class="form-control" />
  </div>
  <div class="fieldcontain required">
    <label for="state">State
      <span class="required-indicator">*</span>
    </label>
    <select required="" name="state" id="state" ng-model="vm.agent.state" ng-options="state for state in vm.stateList track by state.id"></select>
  </div>
  <div class="fieldcontain required">
    <label for="zip">Zip
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="zip" id="zip" ng-model="vm.agent.zip" type="text" class="form-control" />
  </div>
  <div class="fieldcontain">
    <label for="agentId">Agent Id</label>
    <input name="agentId" id="agentId" ng-model="vm.agent.agentId" type="text" class="form-control" />
  </div>
  <div class="fieldcontain">
    <label for="licenseStates">License States</label>
    <select name="licenseStates" id="licenseStates" ng-model="vm.agent.licenseStates" ng-options="state for state in vm.stateList track by state.id" multiple=""></select>
  </div>
  <div class="fieldcontain">
    <label for="contract">Contract</label>
    <select name="contract" id="contract" ng-model="vm.agent.contract" ng-options="contract for contract in vm.contractList track by contract.id"></select>
  </div>
  <div class="fieldcontain">
    <label for="contractAddress">Contract Address</label>
    <input name="contractAddress" id="contractAddress" ng-model="vm.agent.contractAddress" type="text" class="form-control" />
  </div>
  <div class="fieldcontain">
    <label for="incentives">Incentives</label>
    <select name="incentives" id="incentives" ng-model="vm.agent.incentives" ng-options="incentive for incentive in vm.incentiveList track by incentive.id" multiple=""></select>
  </div>
  <div class="fieldcontain">
    <label for="transactions">Transactions</label>
    <select name="transactions" id="transactions" ng-model="vm.agent.transactions" ng-options="transaction for transaction in vm.transactionList track by transaction.id" multiple=""></select>
  </div>

  <!-- contract selector -->
  <div class="pricing">
    <ul>
      <li class="unit price-primary">
        <div class="price-title">
          <h3>$299</h3>

          <p>per month</p>
        </div>

        <div class="price-body">
          <h4>Basic</h4>

          <p>Lots of clients &amp; users</p>
          <ul>
            <li>250 SKU's</li>
            <li>1 GB Storage</li>
            <li>3,5% transaction fee</li>
          </ul>
        </div>

        <div class="price-foot">
          <button type="button" class="btn btn-primary">Try a Week</button>
        </div>
      </li>
      <li class="unit price-success active">
        <div class="price-title">
          <h3>$499</h3>

          <p>per month</p>
        </div>

        <div class="price-body">
          <h4>Premium</h4>

          <p>Lots of clients &amp; users</p>
          <ul>
            <li>2500 SKU's</li>
            <li>5 GB Storage</li>
            <li>1,5% transaction fee</li>
          </ul>
        </div>

        <div class="price-foot">
          <button type="button" class="btn btn-success">Buy Now</button>
        </div>
      </li>
      <li class="unit price-warning">
        <div class="price-title">
          <h3>$599</h3>

          <p>per month</p>
        </div>

        <div class="price-body">
          <h4>Unlimited</h4>

          <p>Lots of clients &amp; users</p>
          <ul>
            <li>Unlimited SKU's</li>
            <li>20 GB Storage</li>
            <li>1% transaction fee</li>
          </ul>
        </div>

        <div class="price-foot">
          <button type="button" class="btn btn-warning">Subscribe</button>
        </div>
      </li>
    </ul>
  </div>
</fieldset>